# Tutorial Exercises: non-parametric tests 

Here are some exercises on comparing groups of data (medians or means) using rank-based non-parametric tests, or permmutation tests

### Set up Python libraries

As usual, run the code cell below to import the relevant Python libraries

In [2]:
# Set-up Python libraries - you need to run this but you don't need to change it
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
import seaborn as sns
sns.set_theme(style='white')
import statsmodels.api as sm
import statsmodels.formula.api as smf

## 1. Whose peaches are heavier?

<img src="https://raw.githubusercontent.com/jillxoreilly/StatsCourseBook/main/images/peaches.png" width=30% alt="There should be a picture of some peaches here" >


Mr Robinson’s juice factory buys peaches from farmers by the tray. Each tray contains 50 peaches. Farmer McDonald claims that this is unfair as his peaches are juicier and therefore weigh more than the peaches of his rival, Mr McGregor. 

Mr Robinson weighs eight trays of Farmer McDonald’s peaches and 8 trays of Mr McGregor’s peaches. 

Investigate whether McDonald's claim is justified by testing for a difference in weight between McDonald and McGregor's peaches using a non-parametric (rank-based) test.

a) Load the data into a Pandas dataframe

In [3]:
peaches = pd.read_csv('https://raw.githubusercontent.com/jillxoreilly/StatsCourseBook_2024/main/data/peaches.csv')
peaches

   McGregor  MacDonald
0     7.867      8.289
1     7.637      7.972
2     7.652      8.237
3     7.772      7.789
4     7.510      7.345
5     7.743      7.861
6     7.356      7.779
7     7.944      7.974

b) Plot the data and comment. 

A Kernel desity estimate plot (to show the distribution) and rug plot (to show individual data points) would be a good choice here. You should comment on the data distribution

In [4]:
# your text here to plot the data

c) Conduct an appropriate non-parametric test of Farmer McDonald's claim

* State your hypotheses
* State relevant descriptive statistics
* Carry out the test using the ubilt in function from <tt>scipy.stats</tt> with appropriate option choices
* State your conclusions

## 2. IQ and vitamins

<img src="https://raw.githubusercontent.com/jillxoreilly/StatsCourseBook/main/images/vitamins.jpg" width=50% alt="There should be a picture of some vitamin pills here" >

The VitalVit company claim that after taking their VitalVit supplement, IQ is increased. 

They run a trial in which 22 participants complete a baseline IQ test, then take VitalVit for six weeks, then complete another IQ test.

a) What kind of design is this.

< your answer here >

b) What are the advantages and possible disadvantages of this type of design? Should the company have done something different or additional to rule out confounding factors?

< your answer here >

c) Load the data into a Pandas dataframe

In [5]:
vitamin = pd.read_csv('https://raw.githubusercontent.com/jillxoreilly/StatsCourseBook_2024/main/data/vitalVit.csv')
vitamin

    ID_code   before    after
0    688870   82.596   83.437
1    723650  117.200  119.810
2    445960   85.861   83.976
3    708780  125.640  127.680
4    109960   96.751   99.103
5    968530  105.680  106.890
6    164930  142.410  145.550
7    744410  109.650  109.320
8    499380  128.210  125.110
9    290560   84.773   87.249
10   780690  110.470  112.650
11   660820  100.870   99.074
12   758780   94.117   95.951
13   363320   96.952   96.801
14   638840   86.280   87.669
15   483930   89.413   94.379
16   102800   85.283   88.316
17   581620   94.477   96.300
18   754980   90.649   94.158
19   268960  103.190  104.300
20   314040   92.880   94.556
21   324960   97.843   97.969

d) Plot the data and comment. 
A scatterplot would be a good choice as these are paired data. 
You could add the line of equality (line x=y) to the graph so we can see whether most people score higer on the IQ test before or after taking VitalVit

In [24]:
# Your code here for a scatter plot.

e) Conduct a suitable non-parametric test to test VitalVit's claim

* State your hypotheses
* State relevant descriptive statistics
* Carry out the test using the ubilt in function from <tt>scipy.stats</tt> with appropriate option choices
* State your conclusions

< Your answer here. You will probably need to add more cells. >

## 3. Who has the tallest students?

A student from Lonsdale college claims that Lonsdale students are taller than students from Beaufort college.

Heights of 30 randomly selected male undergraduates from each college are found in the file heightsCollege.csv, loaded below

Test the student's hypothesis using an appropriate rank-based non-parametric test, and write up your report as if for a scientific publication. Your report should include the following elements:

* A plot of the data to show the data distribution
* The relevant descriptive statistics
* The results of the test
* A conclusion

In [6]:
vitamin = pd.read_csv('https://raw.githubusercontent.com/jillxoreilly/StatsCourseBook_2024/main/data/heightsCollege.csv')
vitamin

    lonsdale  beaufort
0     183.76    182.64
1     192.84    178.86
2     164.19    178.76
3     186.04    173.41
4     182.23    186.13
5     170.85    178.07
6     176.96    174.00
7     182.40    188.46
8     205.05    177.43
9     199.39    174.88
10    170.55    176.94
11    201.24    173.06
12    185.08    171.16
13    179.56    196.68
14    185.00    190.59
15    178.57    181.15
16    179.13    170.20
17    190.43    172.94
18    189.86    177.76
19    189.92    184.54
20    184.70    169.68
21    171.55    162.69
22    185.02    168.86
23    191.41    181.33
24    183.42    181.74
25    187.24    182.16
26    185.09    178.09
27    177.88    180.29
28    182.06    175.67
29    174.49    185.03